@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;700&family=Outfit:wght@200;400;700;800&display=swap");
@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: keep-all;
}
ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  color: #315c7b;
  font-family: "Outfit", "NanumSquareNeo-Variable", sans-serif;
  overflow-x: hidden;
}
.intro {
  background: #315c7b;
  display: flex;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 12vw;
  font-weight: 800;
  justify-content: center;
  align-items: center;
  transition: 1s cubic-bezier(0.52, 0.01, 0, 1);
  transition-delay: 0.8s;
}
.intro.on {
}
.intro.on.end {
  top: -100vh;
}
.intro .inner {
  overflow: hidden;
  height: 12vw;
}
.intro .inner span {
  transform: translateY(200px);
  display: block;
  color: #ece1d9;
  transition: 1s cubic-bezier(0.52, 0.01, 0, 1);
}
.intro.on .inner span {
  transform: translateY(0);
}
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  position: fixed;
  top: 0;
  width: 100%;
  mix-blend-mode: multiply;
  z-index: 999;
}
.gnb h1 {
  width: 10vw;
  transform: translateY(3px);
}
.gnb a {
  font-weight: 800;
}

.gnb h1 img {
  width: 100%;
}
.gnb ul {
  display: flex;
  gap: 2vw;
  font-weight: 700;
}

.sect1 {
  height: 115vh;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1vw 2vw 7vw 2vw;
  background: url("../img/vizzart_main.jpg") no-repeat center bottom / 2403px,
    linear-gradient(to bottom, #ece1d9 56vh, #dbe7f1 56vh);
  color: #fff;
  text-align: center;
  flex-direction: column;
}
.sect1 h2 {
  font-size: 21.5vw;
  color: #315c7b;
  font-weight: 800;
}

.sect1 a {
  border: 1px solid #315c7b;
  color: #315c7b;
  padding: 1vw 2vw;
  border-radius: 100px;
  margin: -4vh;
}

.sect2 .sect_wrap {
  height: 100vh;
  text-align: center;
  padding: 80px 10vw;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 2vw;
  background: #dbe7f1;
}
.sect2 h2 {
  font-size: 28px;

  width: 100%;
  display: inline-block;
  color: #a2bbce;
  padding-bottom: 0px;
}
.sect2 p {
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  white-space: nowrap;
}
.sect3 {
  position: relative;
}
.sect3 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sect3 ul {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
}
.sect3 ul li {
  height: 33.3vh;
  justify-content: center;
  align-items: center;
  font-size: 20vh;
  display: flex;
  white-space: nowrap;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  color: #eee;
}
.sect3 ul li.active {
  color: #315c7b;
}
.sect4 .sect_wrap {
  height: 100vh;
  text-align: center;
  padding: 80px 10vw;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 2vw;
  background: #f9cdd9;
}
.sect4 h2 {
  font-size: 28px;

  width: 100%;
  display: inline-block;
  color: #db8aa1;
  padding-bottom: 0px;
}
.sect4 p {
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  color: #b91443;
}
#horizonScrollContainer {
  overflow-x: hidden;
}
.sect5 .row {
  display: flex;
  padding: 4vw 0;
  flex-direction: row;
  margin-right: 4vw;
  /* width: calc(60vw * 6); */
}
.sect5 .sect_wrap .item {
  width: 500px;
  height: calc(100vh - 4vw);
  background: #eee;
  min-width: 800px;
  margin-left: 2vw;
  margin-bottom: 2vw;
  display: flex;
  margin-left: 4vw;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  padding: 3vw;
  line-height: 1.4;
  text-align: left;
  background: url("../img/woody-pan-main1.jpg") no-repeat center / cover;
}
.sect5 .sect_wrap .item:last-child {
}
.sect5 .sect_wrap .item h3 {
  font-size: 60px;
  line-height: 1;
}
.sect5 .sect_wrap .item p {
  font-size: 14px;
  line-height: 2;
}

.sect5 .sect_wrap .item.pot {
  background-image: url("../img/cote-pot-main1.jpg");
}
.sect5 .sect_wrap .item.triple {
  background-image: url("../img/triple-main1.jpg");
}
.sect5 .sect_wrap .item.egg {
  background-image: url("../img/egg-main1.jpg");
  background-position: bottom;
}
.sect5 .sect_wrap .item.egg h3 {
  color: #fff;
}

.sect5 .row {
  /* animation: toLeft 30s infinite; */
}
@keyframes toLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sect6 .sect_wrap {
  text-align: center;
  padding: 120px 10vw;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 0vw;
  background: #f5f5f5;
}
.sect6 h2 {
  font-size: 28px;

  width: 100%;
  display: inline-block;
  color: #a2bbce;
  padding-bottom: 0px;
}
.sect6 p {
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  color: #315c7b;
  white-space: nowrap;
  padding: 0;
}
.sect6 img {
  padding-top: 4vw;
}

.sect7 {
  padding: 5vw 10vw;
  text-align: center;
  position: relative;
  height: 100vh;
}

.sect7 .gallery {
  display: flex;
  gap: 2vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  text-align: center;
  padding: 2vw;
  line-height: 1.8em;
  font-size: 12px;
  flex-direction: row;
  width: 100%;
  color: #a2bbce;
}
.footer .footer-gnb {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
  text-align: left;
  gap: 2vw;
  justify-content: space-between;
  padding: 4vw;
  background: #e9f1f6;
  padding-right: 8vw;
  padding-bottom: 6vw;
  margin-bottom: 1vw;
}
.footer .footer-gnb h6 {
  font-size: 14px;
  padding-bottom: 1vw;
}
.footer .footer-gnb li {
  font-size: 14px;
  color: #315c7b;
}

.footer .tel {
  font-size: 32px;
  font-weight: 700;
}
.footer .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#menu {
  width: 5vw;
  height: 5vw;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  background: #ffffffee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vw;
  font-size: 4vw;
  color: #315c7b;
  box-shadow: 5px 5px 10px #315c7b22;
}
.sub .content {
  padding-top: 100px;
}
.sub .content img {
  margin: 0 auto;
  display: block;
}
@media screen and (max-width: 767px) {
  .sect_wrap {
    display: flex;
    flex-direction: column;
  }
  .sect2 .sect_wrap {
    flex-direction: column;
  }
  .sect2 h2,
  .sect2 p {
    width: 100%;
  }
  .sect3 .row {
    width: 100%;
  }
  .sect3 .row .item h3 {
    font-size: 12vw;
  }
}
@media screen and (max-width: 450px) {
  .sect3 .row {
    flex-direction: column;
  }
  .sect3 .row .item {
    width: 100%;
    height: 96vw;
  }
}

#navPop {
  display: none;
}
#navPop.on {
  display: block;
}
#mobilePanel {
  width: 100%;
  height: 100%;
  background: #ece1d9;
  color: #315c7b;
  padding: 50px;
  padding-top: 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  text-align: center;
  font-size: 90px;
}

#mobilePanel h1 {
  font: bold 40px/1;
  color: #315c7b;
  margin-bottom: 30px;
  margin: 0 auto 5px;
}
#mobilePanel h1 img {
  width: 90px;
}
#mobilePanel a {
  color: #315c7b;
  font-weight: 700;
}
#mobilePanel ul.sns {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  justify-content: center;
  gap: 20px;
  color: #315c7b;
  padding-top: 50px;
}
